:root {
  /* font-size */
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-2xl: 18px;
  --fs-3xl: 30px;
  --fs-4xl: 32px;
  --fs-5xl: 36px;
  --color-white: #fff;
  --color-black: #000;
  --color-offwhite: #fbfbfb;
  --color-blue: #33a7f9;
}

/* text-colors */
.text_white {
  color: var(--color-white);
}
.text_black {
  color: var(--color-black);
}
.text_offwhite {
  color: var(--color-offwhite);
}
.text_blue {
  color: var(--color-blue);
}
/* background-color */
.bg_white {
  background-color: var(--color-white);
}
.bg_black {
  background-color: var(--color-black);
}
.bg_blue {
  background-color: var(--color-blue);
}
/* font-size */
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_5xl {
  font-size: var(--fs-5xl);
}
@media (min-width: 576px) {
  :root {
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-2xl: 22px;
    --fs-3xl: 30px;
    --fs-4xl: 42px;
    --fs-5xl: 44px;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-2xl: 22px;
    --fs-3xl: 30px;
    --fs-4xl: 44px;
    --fs-5xl: 48px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 48px;
    --fs-5xl: 54px;
  }
}
